@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:#f0f0f0 ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{ 
  color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;

}
.navigation a:hover{
    color:#601cfc ;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/201811030624282428.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #ffff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2  span{
    color:lightblue ;
    display: inline-block;
    margin-top: 10;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-btn{
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: .9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .07 ease;

}
.main-btn:hover{
background-color:#0a49f6 ;
transform: scale(1.1); 
}
.socila-icons a{
   color: white;
   font-size: 1.7em;
   padding-right: 30px; 
    
}
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-family: 800;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
   background-color: white;
    width: 21.25em;
    box-shadow:0 5px 25px rgba(1 1 1 /15%) ;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: .07 ease;

}
.card:hover{
transform: scale(1.1); 
}
.icon{
    color: #3a6cf4;
    font-size:8em ;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: black;
}
.projects .content{
    margin-top:30px ;

}
.projec-card{
    background-color: white;
    border: 5px solid  white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projec-card:hover{
    transform: scale(1.1);
}
.projec-card:hover .project-image{
   
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: black;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover
{
    color:#601cfc;
}
.contact .icon{
    font-size: 4.5em;

}
.contact .info h3{
    color: #000;
}
.contact .info p{
    font-size: 1em;
}
.footor{
    background-color: #000;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
   
}
.footer-title span{
    color: #3a6cf4;
}
.about{
    background-color: wheat;
}
.about .profile-image{
    width: 30em;
    border-radius:5em;
    padding: 60px;
    height: 40em;
}
.about-details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about-details h2{
    font-size: 4em;
flex-direction: row;
    padding: 20px;
}
.about-details p{
    padding-left: 30px;
    font-size: 3em;
}
.ul{
 padding-top: 60px;
  padding-left: 30px;
  font-size: 1.8em;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px
    }
    .navigation{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px
    }
    .main h3{ 
        font-size: 1.6em;

    }
    .main h2{ 
        font-size: 1em;

    }
    .content{
        flex-direction: column;
        align-items: center;

    }
    

}